<div class="new-customers mb-50">
  <div >
    <div class="login-account p-30 box-shadow">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"><br>
          <h5 class="mb-50 text-center f1">CHO THUÊ</h5>
          <div class="col-sm-6">
            <input class="f1" type="text" style="font-family: 'Comforter', cursive;
                                                font-family: 'Open Sans', sans-serif;"  placeholder="Tên nhà" id="username">
          </div>
          <div class="col-sm-6">
            <input class="f1" style="font-family: 'Comforter', cursive;
                                                font-family: 'Open Sans', sans-serif;" type="text"  placeholder="Địa chỉ" id="address">
          </div>
          <div class="col-sm-6 f1"  id="category" >
            <select class="custom-select-2 f1">
              <option value="">Thể loại</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input class="f1" type="text" style="font-family: 'Comforter', cursive;
                                                font-family: 'Open Sans', sans-serif;" placeholder="Số phòng ngủ" id="bedroom">
          </div>
          <div class="col-sm-6">
            <input class="f1" type="text" style="font-family: 'Comforter', cursive;
                                                font-family: 'Open Sans', sans-serif;" placeholder="Số phòng tắm" id="showerRoom">
          </div>
          <div class="col-sm-6">
            <input class="f1" type="text" style="font-family: 'Comforter', cursive;
                                                font-family: 'Open Sans', sans-serif;"  placeholder="Giá cho thuê" id="price">
          </div>
          <input class="f1" type="text"  placeholder="Diện tích" id="area">
          <input class="f1" type="text"  placeholder="Mô tả" id="description">
          <form enctype="multipart/form-data" id="form">
            <div class="col-sm-12">
              <p class="f1 f4">Ảnh đại diện</p>
              <input type="file" name="files"/>
            </div>
            <div class="col-sm-12">
              <p class="f1 f4">Phòng ngủ</p>
              <input type="file" name="files" />
            </div>
            <div class="col-sm-12">
              <p class="f1 f4">Phòng khách</p>
              <input type="file" name="files" />
            </div>
            <div class="col-sm-12">
              <p class="f1 f4">Phòng bếp</p>
              <input type="file" name="files"/>
            </div>
            <div class="col-sm-12">
              <p class="f1 f4">Phòng tắm</p>
              <input type="file" name="files"/>
            </div>
            <button class="submit-btn-1 mt-20 f1"  onclick="saveHome(${id})" style="margin-right: 5px">Lưu Lại</button>
            <button class="submit-btn-1 mt-20 f1"  onclick="managerHouseUser()" >Quay Lại</button>
          </form>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
