<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="section-title mb-30">
          <h3 class="f1 f5">3AE</h3>
          <h2 class="f1 f5">GIỚI THIỆU VỀ CHÚNG TÔI</h2>
        </div>
        <div class="about-sheltek-info">
          <p class="f1 f3"><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust"
                                 class="tooltip-content">Sheltek </span>là một trong những dịch vụ thuê nhà hàng đầu tại
            Việt Nam.</p>
          <p class="f1 f3">Với cộng đồng người dùng đông đảo trên khắp cả nước. Luôn đặt niềm tin và sự thoải mái lên
            hàng đầu</p>
          <p class="f1 f3">Chúng tôi tự hào là nơi mang lại những sự trải nhiệm tuyệt vời cho bạn và những người thân
            yêu. Hãy đến với chúng tôi để có một kỳ nghỉ tuyệt đẹp hay những căn nhà lý tưởng của bạn !! THÂN !!</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="about-image">
          <a href="about.html"><img src="assets/images/about/1.jpg" alt="" style="height: 300px"></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <section class="services-area pb-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-2 text-center">
            <h2 class="f1 f5">DỊCH VỤ CỦA CHÚNG TÔI</h2>
            <p class="f1" style="font-size: 20px">Tìm kiếm sự lựa chọn của bạn !</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="service-carousel">
          <!-- service-item -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <div class="service-item-image">
                <a href="service-details.html"><img src="assets/images/service/2.jpg" alt=""></a>
              </div>
              <div class="service-item-info">
                <h5><a class="f1 f4 f5" routerLink="homes">Thuê nhà</a></h5>
                <p class="f1 f3">Nơi tập hợp những địa điểm thuê nhà lý tưởng bậc nhất Việt Nam</p>
              </div>
            </div>
          </div>
          <!-- service-item -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <div class="service-item-image">
                <a href="service-details.html"><img src="assets/images/service/3.jpg" alt=""></a>
              </div>
              <div class="service-item-info">
                <h5><a class="f1 f4 f5" routerLink="create">Cho thuê nhà</a></h5>
                <p class="f1 f3">Cộng đồng người dùng đông đảo. Đặt uy tín lên hàng đầu</p>
              </div>
            </div>
          </div>
          <!-- service-item -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <div class="service-item-image">
                <a href="#"><img src="assets/images/service/4.jpg" alt=""></a>
              </div>
              <div class="service-item-info">
                <h5><a class="f1 f4 f5" href="#" onclick="managerHouseUser()">Quản lý</a></h5>
                <p class="f1 f3">Kiểm soát tài sản của bạn một cách hợp lý và thuận tiện</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="features-area fix">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-md-offset-5">
          <div class="features-info bg-gray">
            <div class="section-title mb-30">
              <h3 class="f1 f5">Dưới đây</h3>
              <h3 class="f1 f5">Là một số tiện ích</h3>
            </div>
            <div class="features-desc">
              <p class="f1 f3"><span data-placement="top" data-toggle="tooltip"
                                     data-original-title="The name you can trust" class="tooltip-content">Sheltek</span>
                là một thế giới lý tưởng cho các bạn muốn tìm một ngôi nhà vừa ý. Một mơi lưu trân khi đi du lịch để tận
                hưởng cuộc sống, hay 1 ngôi nhà đầy đủ tiện nghi</p>
            </div>
            <div class="features-include">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-4">
                  <div class="features-include-list">
                    <h6><img src="images/icons/7.png" alt=""><a class="f1 f3">Đầy đủ nội thất</a></h6>
                    <!--                                                        <p>Lorem is a dummy text do eiud tempor dolor sit amet dum</p>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                  <div class="features-include-list">
                    <h6><img src="images/icons/7.png" alt=""><a class="f1 f3">Sơn Touch Paint</a></h6>
                    <!--                                                        <p>Lorem is a dummy text do eiud tempor dolor sit amet dum</p>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                  <div class="features-include-list">
                    <h6><img src="images/icons/7.png" alt=""><a class="f1 f3">Nội thất mới nhất</a></h6>
                    <!--                                                        <p>Lorem is a dummy text do eiud tempor dolor sit amet dum</p>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                  <div class="features-include-list">
                    <h6><img src="images/icons/7.png" alt=""><a class="f1 f3">Bảo mật thông tin</a></h6>
                    <!--                                                        <p>Lorem is a dummy text do eiud tempor dolor sit amet dum</p>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                  <div class="features-include-list">
                    <h6><img src="images/icons/7.png" alt=""><a class="f1 f3">Sống với thiên nhiên</a></h6>
                    <!--                                                        <p>Lorem is a dummy text do eiud tempor dolor sit amet dum</p>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                  <div class="features-include-list">
                    <h6><img src="images/icons/7.png" alt=""><a class="f1 f3">Phụ kiện sang trọng</a></h6>
                    <!--                                                        <p>Lorem is a dummy text do eiud tempor dolor sit amet dum</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
