<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="section-title mb-30">
        <h3 class="f1 f5">3AE</h3>
        <h2 class="f1 f5">GIỚI THIỆU VỀ CHÚNG TÔI</h2>
      </div>
      <div class="about-sheltek-info">
        <p class="f1 f3"><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek </span>là một trong những dịch vụ thuê nhà hàng đầu tại Việt Nam.</p>
        <p class="f1 f3">Với cộng đồng người dùng đông đảo trên khắp cả nước. Luôn đặt niềm tin và sự thoải mái lên hàng đầu</p>
        <p class="f1 f3">Chúng tôi tự hào là nơi mang lại những sự trải nhiệm tuyệt vời cho bạn và những người thân yêu. Hãy đến với chúng tôi để có một kỳ nghỉ tuyệt đẹp hay những căn nhà lý tưởng của bạn !! THÂN !!</p>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="about-image">
        <a href="about.html"><img src="images/about/1.jpg" alt="" style="height: 300px"></a>
      </div>
    </div>
  </div>
</div>
<br><br><section class="services-area pb-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title-2 text-center">
          <h2 class="f1 f5">DỊCH VỤ CỦA CHÚNG TÔI</h2>
          <p class="f1" style="font-size: 20px">Tìm kiếm sự lựa chọn của bạn !</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="service-carousel">
        <!-- service-item -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <div class="service-item-image">
              <a href="service-details.html"><img src="assets/images/service/2.jpg" alt=""></a>
            </div>
            <div class="service-item-info">
              <h5><a class="f1 f4 f5" routerLink="homes">Thuê nhà</a></h5>
              <p class="f1 f3">Nơi tập hợp những địa điểm thuê nhà lý tưởng bậc nhất Việt Nam</p>
            </div>
          </div>
        </div>
        <!-- service-item -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <div class="service-item-image">
              <a href="service-details.html"><img src="assets/images/service/3.jpg" alt=""></a>
            </div>
            <div class="service-item-info">
              <h5><a class="f1 f4 f5" href="#" onclick="houseForRent()">Cho thuê nhà</a></h5>
              <p class="f1 f3">Cộng đồng người dùng đông đảo. Đặt uy tín lên hàng đầu</p>
            </div>
          </div>
        </div>
        <!-- service-item -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <div class="service-item-image">
              <a href="#"><img src="assets/images/service/4.jpg" alt=""></a>
            </div>
            <div class="service-item-info">
              <h5><a class="f1 f4 f5" href="#" onclick="managerHouseUser()" >Quản lý</a></h5>
              <p class="f1 f3">Kiểm soát tài sản của bạn một cách hợp lý và thuận tiện</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
