
<p><router-outlet></router-outlet></p>
<footer id="footer" class="footer-area bg-2 bg-opacity-black-90">
  <div class="footer-top pt-110 pb-80">
    <div class="container">
      <div class="row">
        <!-- footer-address -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget">
            <h6 class="footer-titel f1" style=" font-size: 20px; color: #1b6d85">Liên hệ</h6>
            <ul class="footer-address">
              <li>
                <div class="address-icon">
                  <img src="images/icons/location-2.png" alt="">
                </div>
                <div class="address-info">
                  <span style="color: whitesmoke" class="f1">Số 23, lô TT01, Hàm Nghi</span>

                </div>
              </li>
              <li>
                <div class="address-icon">
                  <img src="images/icons/phone-3.png" alt="">
                </div>
                <div class="address-info f1">
                  <span style="color: whitesmoke">Telephone : (801) 4256  9856</span>
                  <span style="color: whitesmoke">Telephone : (801) 4256  9658</span>
                </div>
              </li>
              <li>
                <div class="address-icon">
                  <img src="images/icons/world.png" alt="">
                </div>
                <div class="address-info f1">
                  <span style="color: whitesmoke" class="f1">Email : info@sheltek.com</span>
                  <span style="color: whitesmoke" class="f1">Web :<a href="#"
                                                                     target="_blank"> www.sheltek.com</a></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-latest-news -->
        <div class="col-lg-6 col-md-5 hidden-sm col-xs-12">
          <div class="footer-widget middle">
            <h6 class="footer-titel f1" style=" font-size: 20px; color: #1b6d85">Tin Mới</h6>
            <ul class="footer-latest-news">
              <li>
                <div class="latest-news-image">
                  <a href="#"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKAc0qZ4ujWxnKrKsyPA495Hc1bsAuAwa1bGcKh9Y9ucLwdB6uqLd9dLlqAM2STcUHDII&usqp=CAU"
                    alt=""></a>
                </div>
                <div class="latest-news-info">

                  <p style="color: whitesmoke" class="f1">Trưởng phòng <span
                    style="color: yellow">Nguyễn Quốc Khánh</span> vừa được bổ nhiệm lên
                    chức vụ phó giám đốc !!</p>
                </div>
              </li>
              <li>
                <div class="latest-news-image">
                  <a href="#"><img
                    src="https://png.pngitem.com/pimgs/s/227-2271422_profile-transparent-man-avatar-hd-png-download.png"
                    alt=""></a>
                </div>
                <div class="latest-news-info">

                  <p style="color: whitesmoke" class="f1">Chi Nhánh<span style="color: yellow"> Lê Vũ Duy</span>
                    vừa cho thuê được 500 căn nhà vào ngày 9/1/2022 </p>
                </div>
              </li>
              <li>
                <div class="latest-news-image">
                  <a href="#"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg_8lGCWawehguuh77QDq8QgjU75lmqpSPxi3yve2Hizt4fsvWTrO7QtNkta2cqcO0nfM&usqp=CAU"
                    alt=""></a>
                </div>
                <div class="latest-news-info">

                  <p style="color: whitesmoke" class="f1">Giám đốc điều hành khu vực miền bắc
                    <span style="color: yellow">Nguyễn Đình Ánh</span> vừa trúng đề</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-contact -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget">
            <h6 class="footer-titel f1" style=" font-size: 20px; color: #1b6d85">Phản hồi</h6>
            <div class="footer-contact">
              <p class="f1" style="color: whitesmoke">Mọi ý kiến đóng góp xin được gửi về địa chỉ email:</p>
              <p class="f1" style="color: yellow">duyanhkhanh@gmail.com</p>
              <p class="f1" style="color: whitesmoke">Tổng đài chăm sóc khách hàng:</p>
              <p class="f1" style="color: yellow">023401030102</p>
              <p class="f1" style="color: whitesmoke">Từ 8.00 - 18.00 giờ hàng ngày</p>
              <img src="https://vuongquocanh.com/wp-content/uploads/2017/09/cung-dien-westminster-1024x572.gif">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copyright text-center">
            <p class="f1" style="color: whitesmoke">Bản quyền &copy; 2022 <a
              href="https://themeforest.net/user/devitems/portfolio"><b>KAD</b></a>.
              Đã đăng ký bản quyền.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer area -->

